extends ../layout.pug

block content
  header
    h1.center= title
    p#page-prompt= myprompt
  main.main
    form.form-new-project(action="create" method="POST")
      .input-pair
        label(for='name') Name:
        input.input#name-input(type='text' name='name' placeholder='The project name')
      .input-pair
        label(for='videoLink') YouTube video link:
        textarea.input#video-link-input(type='text'
        name='videoLink' rows='4'
        placeholder='The YouTube video link. On YouTube click the Shared button followed by the Embed button and then copy and paste here.').
      .input-pair
        label(for='initialPrompt') Initial Prompt:
        textarea.input#initial-prompt-input(type='text'
        name='initialPrompt' rows='12'
        placeholder='The initial prompt shown to a respondent')
      .input-pair
        label(for='mapPrompt') Mapping Prompt:
        textarea.input#initial-prompt-input(type='text' name='mapPrompt' rows='12'
          placeholder='The mapping prompt for the mapping page.')
      .input-pair
        label(for='finalPrompt') Final Prompt:
        textarea.input#map-prompt-input(type='text' name='finalPrompt' rows='12'
          placeholder='The post mapping page prompt')
      .flex.top-margin
        button.button.red(type="button" onclick=`adminUrl()`) Close
        button.button.green(type='submit') Submit

  script.
    function adminUrl() {
      window.location.assign(`${window.location.origin}/admin/3355`)
    }
