extends ../layout.pug

block links
  link(rel='stylesheet' href='/stylesheets/mapping.css')
  link(rel='stylesheet' href='/stylesheets/style.css')

block content
  .container
    header
      h1= title
      p#page-prompt= prompt
    main.main
      include includes/mapping_svg.pug
        each pt in points
          circle(
            class='point'
            id=`pt${pt.order}`
            cx= String(pt.cartesianX)
            cy= String(-pt.cartesianY)
            r='1'
          )
    .brands
      h5 Total Duration: #{duration}
      include includes/mapping_brandnames.pug
      ol#brand-list
        each pt in points
          li(class='brand' id=`brand${pt.order}`)
            p.exbrand(id=`exname`)= pt.brand
            p.exbrand(id=`exdata`)= pt.getExtendedBrandString()
            p.exbrand(id=`exnotes`)= pt.notes
