extends layout

block content
  header.center
    h1= title
  main.main
    iframe(width="640" height="480"
      src="https://www.youtube.com/embed/BbR5YFZsINI" title="Radbaud University"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    p= prompt

  .buttons.top-margin
    a.button.green#start.button(href=relUrl) Start
